.cardProduit {
    height: 470px;
}

.cardImg {
    width: 100%;
    height: 40%;
}

.cardProduitSeul {
    width: 100%;
}

.btnCommandeProduit {
    margin-top: 20px;
}

.imagePanier {
    max-height: 180px;
    max-width: 100%;
}

.articlePanier {
    margin-bottom: 30px;
}